<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite" verbose="1" >
    <listeners>
        <listener class-name="com.tutuorialsninja.customlisteners.CustomListeners"/>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="TutorialsNinja Test" >
        <classes>
            <class name="com.tutuorialsninja.testsuite.TopMenuTest"/>
            <class name="com.tutuorialsninja.testsuite.DesktopTest"/>
            <class name="com.tutuorialsninja.testsuite.LaptopsAndNotebooksTest"/>
            <class name="com.tutuorialsninja.testsuite.MyAccountsTest"/>
        </classes>
    </test>
</suite>